
.errormessage{
    background: red;
    padding: 5px;
}
body{
    background: radial-gradient(circle, #d6998b, rgb(157, 133, 225));  
    
}
a{
    text-decoration: none;
}
form{
    width: 30%;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    background-color: blanchedalmond;
    position: relative;
    top: 20vh;
    padding: 30px; 
}
