
.errormessage{
    background: red;
    padding: 5px;
}
.successmessage{
    background: green;
    padding: 5px;
}
body{
    background: radial-gradient(circle, #d6998b, rgb(157, 133, 225));  
    
}
a{
    text-decoration: none;
}
form{
    width: 30%;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    background-color: blanchedalmond;
    position: relative;
    top: 20vh;
    padding: 30px; 
}

/* Styling make.php file  */
.makecontainer{
    margin: auto;
    width: 80vw;
    height: fit-content;
    color: rgb(236, 15, 181);
    border: 2px solid rgb(255, 0, 0);
}

.makecontainer .makecontent img{
    width: 100%;
    height: 200px;
}

.makecontainer .makecontent h1,.makecontainer .makecontent p{
    margin: auto;
    padding: 30px;
}

.makecarsimages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}