*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsla(270, 92%, 5%, 0.984); 
    font-family: Roboto, sans-serif;
    background-image: url('images/backiee-132473.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body h1 {
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    color: rgb(255, 0, 106);
    text-decoration: dotted;
    font-weight: 900;
    font-family: monospace;
    font-size: 45px;

}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh; 
}

.navbar {
    display: flex;
    justify-content: end;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    margin: 0 auto;
}

.icon img{
    width: 20%;
    height: auto;
    margin-top: 50px;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 10px;
}

.nav-list li a {
    display: inline-block;
    color: #a4fab2;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 150px;
    box-sizing: 50vh;
    max-width: 100%;
}

.section {
    background-color: #1b0b0b;
    border: 2px solid #f8611a;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.section h2 {
    margin-bottom: 10px;
    color: #2ce9f7;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    text-decoration: underline;
    text-wrap: nowrap;
}

.section p {
    color: #e2e2e2;
    padding: 20px;
    text-decoration: dashed;
    text-wrap: wrap;
}
.section button {
    background-color: lightgreen; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    margin-left: 40%;
  }
  .section ul li::before {
    content: "\2192"; 
    color: #007BFF; 
    margin-right: 5px;
  }

.section ul {
    list-style-type: none;
    text-align: center; 
}

.section ul li {
    margin-left: 30px; 
    color: #8cff2e; 
    font-size: 18px; 
    font-weight: bold; 
}


.section ul li a {
    color: #007BFF; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.section ul li a:hover {
    color: #0056b3;
}


#slider_container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    
}
#slider{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
#car_picture{
    width: 50%;
    background-size: cover;
}
#description{
    width: 50%;
    background-color: #ff00fb;
    text-align: center;
}

.car-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 

}
.car-details ul {
    list-style: none;
    color: black; 
}

.car-container {
    background-color: #8cff2e;
    border: 1px solid #fa930d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-container img {
    max-width: 100%;
    height: 100%; 
    display: block; 
    margin: 0 auto 5px; 
    object-fit: cover;
}
.car-container img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
.car-container ul {
    background-color: #2b5168;
    padding: 20px;
    display: block;
    border-radius: 15px;
    width: 100%;
    color: #fff;
  }
.car-brands {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 10px;
}
.car-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid #ff1495; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-image img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #555; 
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.links {
    width: 20%;
    height: 5vh;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-around;
    
}

#login,#signUp{
    background-color: rgb(0, 119, 255);
    width: 30%;
    height: 100%;
    padding: 3px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
#searchContainer {
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#searchInput {
    padding: 10px;
    border: 1px solid #b0fcf5;
    border-radius: 5px;
    flex: 1;
    font-size: 16px;
}
.fa-search {
    margin-left: 10px;
}
#searchButton {
    padding: 10px 20px;
    background-color: #035f94;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
#searchButton:hover {
    background-color: #555;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-height: 100vh;
}

.footer-item {
    grid-column: span 1;
    grid-row: span 1;
}

.social-icons .copyright{
    grid-column: span 2;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #c7c7c5;
}

.footer-row {
    margin-bottom: 20px;   
}
.footer-row i {
    margin-right: 5px;
}
.social-icons i {
    margin: 0 10px;
    font-size: 20px;
}

.copyright {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.social-icons i {
    margin: 0 10px;
    color: #0d1cf3;
    font-size: 24px;
}
.grid-container > div {
    position: relative;
}

.social-icons{
    position: relative;
}

.social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 1px solid #333; 
    transform: translateX(-50%);
    height: 100%;
}
.copyright{
    position: relative;
}

.copyright::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 1px solid #333; 
    transform: translateX(-50%);
    height: 100%;
}

.container ul li a{
    text-decoration: none;
    background-color: #091a0a;
    padding: 20px;
    border-radius: 15px;
}

.container ul li a:hover{
    background-color: #035f94;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}
.nav-list li a:hover {
    border-bottom: 2px solid #fff;
}

#loginLinks{
    display: flex;
    justify-content: end;
    gap: 30px;
}

#loginLinks .navbaricons{
    color: #fff;
    display: none;
}

#loginLinks .navbaricons:hover{
    color: #ff0000;
    cursor: pointer;
}

#loginLinks .links a{
    display: inline-block;
    text-decoration: none;
}

#loginLinks a:hover{
    color: #ff0000;
    cursor: pointer;
}


@media screen and (max-width:1024px) {
    .container .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        background: rgba(89, 9, 238, 0.7);
        z-index: 2;
        position: absolute;
        padding: 20px;
        right: 0;
        display: none;
    }

    .container .nav-list li{
        animation: navAnimation  2s ease 0s forwards;
    }
    #loginLinks .navbaricons{
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
    }

    @keyframes navAnimation {
        0% {
            transform: rotateX(90deg);
        }

        100%{
            transform: rotateX(0deg);
        }
    }

    body h1{
        font-size: 28px;
    }

    p{
        font-size: 15px;
    }
    
    h2{
        font-size: 20px;
    }

    .events-section ul li,.about-section ul li,.types-section ul li,.contact-section ul li{
        font-size: 10px;
    }

    .car-details {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

    .main-content {
        gap: 15px;
        padding: 50px;
    }

    .section button {
        padding: 10px 26px;
        margin: 2px 1px;
      }

}

@media screen and (max-width:600px) {
    body{
        width: fit-content;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }

    .car-details {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100vw;
    }

    .main-content{
        width: 100vw;
        margin: 0;
        padding: 0;
        gap: 2px;
    }
}





/* -------------------------------------       
        8. Clients-say 
--------------------------------------*/

/* Clients Say Section Styles */
.clients-say {
    text-align: center;
    padding: 40px 0;
}

.section-header h2 {
    font-size: 40px;
    font-weight:900;
    color: #77d7f1;
}

.testimonial-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: inline-block;
    max-width: 300px;
}

.testimonial-img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.testimonial-person h2 a {
    font-size: 16px;
    color: #333;
}

.testimonial-person h4 {
    font-size: 14px;
    color: #777;
}

.testimonial-comment p {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.testimonial-box:hover {
    background: #44ecf8;
    border-color: #bcf733;
    color: #fff;
}

/*-------------------------------------
        9. Brand
--------------------------------------*/
.brand-area{
    display: flex;
    color: #2f04f1;
    background-color: #ecf3f5;
    height: 150;
    margin: 40px 0;
    padding: 50px;
    border-radius: 7px;
    justify-content: space-between;
    position: relative;
    align-self: flex-start;
    
}


/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background-image:url(Images/blackmer.jpeg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    z-index: 10;
}


.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fc1414;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: #fcd705;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
    font-style: italic;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: #4efa5c;
    color: #111010;
    border-radius: 7px;
    margin-top: 55px;
    transition: .3s linear;
}
.welcome-btn:hover{
    background: #c4fa01;
}
/*.welcome-hero-txt



-------------------------------------
        4. Model-Search
--------------------------------------*/
.model-search-content {
    box-sizing: content-box;
    padding: 40px 0;
    background: #d8d4d4;
    box-shadow:0 10px 40px 0px rgba(38,40,64,.2);
    position: absolute;
    top: 1050px;
    right: 5rem;
    width: 80%;
    z-index: 30;
    border-radius: 10px;
}

/*.single-model-search*/
.single-model-search{margin-bottom: 30px;}
.single-model-search:last-child {margin-bottom: 0;}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}
/*model-select-icon*/
.model-select-icon{
    position:relative;
}
.model-select-icon .form-control {
    outline: 0!important;
    box-shadow: none;
    border: 1px solid #0df519;
    background: #f8f8f8;
    height: 60px;
    border-radius: 7px;
    position: relative;
    padding: 10px;
}
.model-select-icon select {
    font-size: 16px;
    color: #888f9d;
    text-transform: capitalize;
}

.welcome-btn.model-search-btn {
    width: 160px;
    margin-top: 80px;
    margin-left: 53px;
}

/*.single-model-search