*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #081b29; 
    font-family: Roboto, sans-serif;
    background-image: url('images/images/featured-cars/backiee-132473.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.body-h1{
    background-color: #111111;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.body-h1 h1 {
    margin-left: 35%;
    color: #ff8c20;
    text-decoration: dotted;
    font-weight: 900;
    font-family: monospace;
    font-size: 45px;

}

/*login sign up*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-area{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
}

.links {
    width: 20%;
    height: 5vh;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-around;
    
}

#login,#signUp{
    background-color: #2b6b99;
    width: 30%;
    height: 100%;
    padding: 3px;
    text-align: center;
    color: white;
    border-radius: 5px;
    position: relative;
    margin-top: 95px;
    box-shadow: 1px 1px 20px #aec7ddf7,
    1px 1px 40px #c2a4e6f7;
    
}
#searchContainer {
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#searchInput {
    padding: 10px;
    border: 1px solid #b0fcf5;
    border-radius: 5px;
    flex: 1;
    font-size: 16px;
}
.fa-search {
    margin-left: 10px;
}
#searchButton {
    padding: 10px 20px;
    background-color: #035f94;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
#searchButton:hover {
    background-color: #555;
}


.nav-container{
    background: #051125;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 10vh;


}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 10vh;
    padding: 5px;
    
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; 
    margin: 0 auto;
}


.navbar p{
    font-weight: 100;
    color: white;
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: slideRight 1s ease forwards;

    
}
.email,
.nav-list,
.profile {
    margin-right: 15px; /* Optional: add margin for spacing between elements */
}


.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-list li {
    display: inline-block;
    margin-right: 10px;
}

.nav-list li a {
    display: inline-block;
    color: #f6f7ee;
}
.nav-container ul li a{
    text-decoration: none;
    background-color: #91f12369;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 13px;

    
}

.nav-container ul li a:hover{
    background-color: #035f94;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}
.nav-list li a:hover {
    border-bottom: 2px solid #fff;
}



/*dashboard*/

.dashboard{
    margin-top: 1px;
}

.profile_pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.profile{
    margin-top: 0;
    height: 200px;
    width: fit-content;
    padding: 0;
    /* background-color: #000000; */
}

.profile_others{
    background: rgba(9, 28, 48, 0.8);
    height: 100px;
    width: fit-content;
    border-radius: 10px;
    visibility: hidden;
}

.profile_others ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dashboard:hover > .profile_others{
    visibility: visible;
}
.profile_others ul li{
    background-color:#310394 ;
    background-color:#2ce9f7;
    width: fit-content;
    margin: 6px;
    padding: 5px;
    color: #000000;
    cursor: pointer;
}

.profile_others ul li:last-child{
    background-color: red;
}

.profile_others ul li:last-child:hover{
    background-color: rgb(56, 21, 21);
    color: #fff;

}

.profile_others ul li a{
    all: unset;
}

.profile_others ul li a:hover{
    all: unset;
    color: #fff;
}

/*dashboard*/



.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 150px;
    box-sizing: 50vh;
    max-width: 100%;
}

.section {
    background-color: #1b0b0b;
    border: 2px solid #f8611a;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.section h2 {
    margin-bottom: 10px;
    color: #2ce9f7;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    text-decoration: underline;
    text-wrap: nowrap;
}

.section p {
    color: #e2e2e2;
    padding: 20px;
    text-decoration: dashed;
    text-wrap: wrap;
}
.section button {
    background-color: rgb(255, 166, 0);;/* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    margin-left: 40%;
  }
  .section ul li::before {
    content: "\2192"; 
    color: #007BFF; 
    margin-right: 5px;
  }

.section ul {
    list-style-type: none;
    text-align: center; 
}

.section ul li {
    margin-left: 30px; 
    color: #8cff2e; 
    font-size: 18px; 
    font-weight: bold; 
}


.section ul li a {
    color: #007BFF; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.section ul li a:hover {
    color: #0056b3;
}





.welcome-hero {
    position: relative;
    background-image:url(Images/images/wp6.jpeg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    z-index: 10;
    box-sizing: border-box;
}

 .welcome-hero-txt{
    text-align: center;
    padding:290px 0 372px;
}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: rgb(255, 166, 0);;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
}
 .welcome-hero-txt p {
    font-size: 20px;
    text-transform: initial;
    color: rgb(238, 255, 0);
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
    font-style: italic;
    font-family: monospace;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    margin-top: 55px;
    padding: 14px 60px;
    background: aliceblue;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;


}
.welcome-btn:hover{
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}
/*.welcome-hero-txt



-------------------------------------
        4. Model-Search
--------------------------------------*/
.container{
    padding: 100px;
}
.model-search-content {
    box-sizing: content-box;
    padding: 50px;
    background: #21282c;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    position: absolute;
    top: 800px;
    right: 20rem;
    width: 50%;
    z-index: 30;
    border-radius: 10px;
}

/*.single-model-search*/
.single-model-search{
    margin-bottom: 30px;
    padding: 5px;
}
.single-model-search:last-child {
    margin-bottom: 0;
}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: cyan; 
}
/*model-select-icon*/
.model-select-icon{
    position: relative;

}
.model-select-icon .form-control {
    outline: 0!important;
    box-shadow: none;
    border: 1px solid cyan;
    background: #fff;
    height: 60px;
    border-radius: 7px;
    position: relative;
    padding: 10px;
}
.model-select-icon select {
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}

.welcome-btn .model-search-btn {
    width: 160px;
    margin-top: 80px;
    margin-left: 53px;
}


/*Slide*/

#slider_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 0;
    
}
#slider{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    text-align: center;
}
#car_picture{
    width: 50%;
    background-size: cover;
}
#description{
    width: 50%;
    background-color: #081b29;
    text-align: center;
    align-items: center;
    color: rgb(47, 248, 47);
    padding-top: 20px;
    text-transform: uppercase;
    font-style: italic;
    font-family: monospace;
}

#description p{
    align-items: center;
    font-size: 16px;
    color: rgb(245, 245, 127);
    padding: 10px;
    text-transform: capitalize;
}
#description >p{
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
}




/*featured cars*/

.car-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; 

}
.car-details ul {
    list-style: none;
    color: black; 
}

.car-container {

    background-color: grey;
    border: 1px solid cyan;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
    
}

.car-container img {
    max-width: 100%;
    height: 100%; 
    display: block; 
    margin: 0 auto 5px; 
    object-fit: cover;
}
.car-container img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
.car-container ul {
    background-color: #2b5168;
    padding: 20px;
    display: block;
    border-radius: 15px;
    width: 100%;
    color: #fff;
  }
.car-brands {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 10px;
}
.car-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid #ff1495; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-image img:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #555; 
}


/*services*/

.service-container { 
    background-color: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 30px 120px 30px 120px;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    color: greenyellow;
    padding: 30px 0px 20px 0px;
}
.sub-title span{
    color: #0ef;
}

.single-service-item{
    text-align: center;
    padding: 40px;
    font-weight: 13px;
    font-size: 13px;
    border-radius: 20px;
    margin-bottom: 10px;
    border-right: 10px  solid #131413;
    transition: background 0.5s, transform 0.5s;
    background-color: rgb(5, 85, 92);
    box-shadow: 1px 1px 20px cyan,
    1px 1px 40px rgb(73, 187, 187);


}

.single-service-image img {
    width: 100%;
    height: auto;
    font-size: 50px;
    position: relative;
}
.single-service-item h2  {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: cyan;
    text-transform: capitalize;
    text-decoration: underline;
}
.single-service-item h2 span {
    text-transform:  capitalize;
}
.single-service-item p {
    padding-bottom: 35px;
    text-transform: initial;
    position: relative;
    color: lightgreen;
}
.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: cyan;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-item:hover h2 a,.single-service-item:hover p{
    color: lightblue;
}
.single-service-item:hover  p:before {
    background: lightgreen;
}
.single-service-item:hover{
    box-shadow: 0 12px 30px 0px rgba(0,1,193,.2);
    background: rgb(39, 32, 32);
    border: 1px solid #4e4ffa;
}





/* -------------------------------------       
        8. Clients-say 
--------------------------------------*/

/* Clients Say Section Styles */
.clients-say {
    text-align: center;
    padding: 40px 0;
}

.testimonial-box {
    background-color: #081b29;
    border: 1px solid cyan;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
    margin: 10px;
    display: inline-block;
    max-width: 300px;
    border-right: 10px  solid #000;
}

.testimonial-img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.testimonial-person h2 a {
    font-size: 16px;
    color: rgb(194, 238, 0);
}

.testimonial-person h4 {
    font-size: 14px;
    color: rgb(104, 150, 150)
    ;
}

.testimonial-comment p {
    font-size: 16px;
    color: #12eec9;
    margin-top: 20px;
}

.testimonial-box:hover {
    background: rgb(5, 5, 19);
    border-color: lightblue;
    color: cyan;
}

/*-------------------------------------
        9. Brand
--------------------------------------*/
.brand-area{
    display: flex;
    gap: 1rem;
    background: #081b29;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    height: 150;
    margin: 40px 0;
    padding: 50px;
    justify-content: space-between;
    position: relative;
    align-self: flex-start;
    border-radius: 20px;
    flex-wrap: nowrap;
    
}
.item a img{
    box-sizing: border-box;
    height: 100px;
    width: 100px;

}
.item .description{
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item a img:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 50px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

/*footer*/
.footer{
    padding: 0px;

}
.grid-container {
    display: flex;
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: #04121d;
}
.footer-row h3{
    color: greenyellow;
}
.footer-row2 h3{
    color: greenyellow;
}
.footer-row3 h3{
    color: greenyellow;
}
.footer-row {
    margin-bottom: 20px; 
 
}
.footer-row3 {
    margin-bottom: 20px;  
}

.footer-row2 {
    margin-bottom: 20px;  
}
.footer-row2 .final {
  margin-top: 60px; 
  color: rgb(6, 245, 65);
  font-family: monospace;
  font-size: 20px; 
  
  
}
.footer-row i {
    margin-right: 5px;
}
.social-icons i {
    margin: 0 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 0 10px;
}
.social-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}
  
.grid-container > div {
    position: relative;
    width: 100%;
}
.footer-row2::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 1px solid #333; 
    transform: translateX(-50%);
    height: 100%; 
    
} 
.footer-row::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    border-left: 1px solid #333; 
    transform: translateX(-50%);
    height: 100%; 
    
} 
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}



.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 0px;
    color: #fff;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}




#loginLinks{
    display: flex;
    justify-content: end;
    gap: 30px;
}

#loginLinks .navbaricons{
    color: #fff;
    display: none;
}

#loginLinks .navbaricons:hover{
    color: #ff0000;
    cursor: pointer;
}

#loginLinks .links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#loginLinks a:hover{
    color: #ff0000;
    cursor: pointer;
}


@media screen and (max-width:1024px) {
    .container .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        background: rgba(89, 9, 238, 0.7);
        z-index: 2;
        position: absolute;
        padding: 20px;
        right: 0;
        display: none;
    }

    .container .nav-list li{
        animation: navAnimation  2s ease 0s forwards;
    }
    #loginLinks .navbaricons{
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
    }

    @keyframes navAnimation {
        0% {
            transform: rotateX(90deg);
        }

        100%{
            transform: rotateX(0deg);
        }
    }

    body h1{
        font-size: 28px;
    }

    p{
        font-size: 15px;
    }
    
    h2{
        font-size: 20px;
    }

    .events-section ul li,.about-section ul li,.types-section ul li,.contact-section ul li{
        font-size: 10px;
    }

    .car-details {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }

    .main-content {
        gap: 15px;
        padding: 50px;
    }

    .section button {
        padding: 10px 26px;
        margin: 2px 1px;
      }

}

@media screen and (max-width:600px) {
    body{
        width: fit-content;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }

    .car-details {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100vw;
    }

    .main-content{
        width: 100vw;
        margin: 0;
        padding: 0;
        gap: 2px;
    }


    /* Default styles for larger screens */
    .brand-container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: 50%; /* Adjust as needed */
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
    }




/* -------------------------------------       
        8. Clients-say 
--------------------------------------*/

/* Clients Say Section Styles */
.clients-say {
    text-align: center;
    padding: 40px 0;
}

.section-header h2 {
    font-size: 40px;
    font-weight:900;
    color: #77d7f1;
}

.testimonial-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: inline-block;
    max-width: 300px;
    cursor: pointer;
}

.testimonial-img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.testimonial-person h2 a {
    font-size: 16px;
    color: #333;
}

.testimonial-person h4 {
    font-size: 14px;
    color: #777;
}

.testimonial-comment p {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.testimonial-box:hover {
    background: aquamarine;
    background: rgb(224, 218, 218);
    border-color: #bcf733;
    color: #fff;
}

/*-------------------------------------
        9. Brand
--------------------------------------*/
.brand-area{
    display: flex;
    color: #2f04f1;
    background-color: #ecf3f5;
    height: 150;
    margin: 40px 0;
    padding: 50px;
    border-radius: 7px;
    justify-content: space-between;
    position: relative;
    align-self: flex-start;
    
}


/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background-image:url(Images/images/welcome-hero/blackmer.jpeg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    z-index: 10;
}


.header-area{position: absolute;top:0;left:0;width: 100%;z-index: 99;}

.welcome-hero-txt{text-align: center;padding:290px 0 372px;}
.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
    background-color: grey;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
}
.welcome-hero-txt p {
    font-size: 18px;
    text-transform: initial;
    color: rgb(248, 148, 18);
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
    font-style: italic;
}
.welcome-btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    background: #4efa5c;
    color: #111010;
    border-radius: 7px;
    margin-top: 55px;
    transition: .3s linear;
}
.welcome-btn:hover{
    background: grey;
}
/*.welcome-hero-txt



-------------------------------------
        4. Model-Search
--------------------------------------*/
.model-search-content {
    box-sizing: content-box;
    padding: 10px;
    background: #d8d4d4;
    box-shadow:0 10px 40px 0px rgba(38,40,64,.2);
    position: absolute;
    top: 1050px;
    right: 20rem;
    width: 50%;
    z-index: 30;
    border-radius: 10px;
}

/*.single-model-search*/
.single-model-search{
    margin-bottom: 30px;
    padding: 5px;
}
.single-model-search:last-child {
    margin-bottom: 0;
}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}
/*model-select-icon*/
.model-select-icon{
    position:relative;

}
.model-select-icon .form-control {
    outline: 0!important;
    box-shadow: none;
    border: 1px solid #020202;
    background: #f8f8f8;
    height: 60px;
    border-radius: 7px;
    position: relative;
    padding: 10px;
}
.model-select-icon select {
    font-size: 16px;
    color: #888f9d;
    text-transform: capitalize;
}

.welcome-btn.model-search-btn {
    width: 160px;
    margin-top: 80px;
    margin-left: 53px;
}

.service-container { 
    background-color: none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;

}

}
